body {
    margin: 0;
    padding: 0;
    background: #3f4c6b;
    background: -moz-linear-gradient(top, #3f4c6b 0%, #111c30 100%);
    background: -webkit-linear-gradient(top, #3f4c6b 0%,#111c30 100%);
    background: linear-gradient(to bottom, #3f4c6b 0%,#111c30 100%);
    font-family: Arial, sans-serif;
}

#jumper-game {
    position: relative;
    margin: 0.1em auto;
    width: 512px;
    height: 384px;
}

#score-display {
    position: absolute;
    top: 0.15em;
    left: 0.15em;
    width: 10em;
    background-color: #000000;
    opacity: 0.75;
    border: 2px solid black;
}

#score-display img {
    width: 4em;
    height: 4em;
}

#score {
    color: #c0c0c0;
    font-size: 2em;
    font-family: 'Arial', cursive;
}

#canvas {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #000000;
    border: 1px solid #fefefe;
}

.non-displayed-images {
    display: none;
}

#new-game,
#instructions {
    margin: 0.1em auto;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    background-color: #000;
    border: 1px solid #fefefe;
}

#hide,
#instructions-btn {
    width: 250px;
    height: 75px;
    display: block;
    background-color: transparent;
    font-size: 25px;
    border: 1px solid transparent;
    color: green;
    margin: 40px auto;
}

#new-game button:hover {
    background-color: green;
    color: white;
}

#new-game h1,
#instructions h1  {
    margin-bottom: 100px;
    text-align: center;
    font-size: 55px;
    color: green;
}

#new-game p {
    color: green;
    font-size: 1em;
    margin-top: 30px;
    text-align: center;
}

#new-game p:first-of-type {
    margin-top: 100px;
}

#new-game p a {
    color: #008000;
    font-size: 1.3em;
}
#new-game p a:hover {
    color: #fff;
    font-size: 1.3em;
}

#instructions {
    z-index: 4;
}

#text {
    display: inline-block;
    width: 100%;
}

#text ul {
    list-style: none;
}

#text li {
    font-size: 1.1em;
    margin-bottom: 30px;
    color: green;
    text-align: center;
}

#close {
    width: 250px;
    height: 75px;
    background-color: transparent;
    font-size: 45px;
    border: 1px solid transparent;
    color: green;
    display: block;
    margin: 100px auto;
}

#instructions button:hover {
    background-color: green;
    color: white;
}

li#money {
    line-height: 69px;
    vertical-align: top;
}

li#money > span {
    overflow: hidden;
    display: inline-block;
    background: url("../resources/gold_coin.png");
    width: 64px;
    height: 64px;
    background-position: 0px -128px;
}

a {
    text-decoration: none;
}

#game-over,
#game-over-overlay {
    margin: 0 auto;
    width: 512px;
    height: 520px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}

#game-over-overlay {
    background-color: black;
    opacity: .8;
}

#game-over {
    font-size: 25px;
    color: green;
    text-align: center;
}

#game-over h1 {
    font-size: 3em;
    margin-bottom: 0px;
}

#game-over h2 {
    margin-bottom: 5px;
}

#game-over button {
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 6px;
    background-color: green;
    color: white;
    border: 1px solid transparent;
    margin-top: 100px;
    width: 250px;
    height: 75px;
}

#game-over button:hover {
    border: 2px solid green;
}

/* block = 16 */
@media screen and (min-width: 0px) and (min-height: 0px) {
    #jumper-game {
        width: 512px;
        height: 384px;
        font-size: 7pt;
    }
}

/* block = 20 */
@media screen and (min-width: 840px) and (min-height: 530px) {
    #jumper-game {
        width: 640px;
        height: 480px;
        font-size: 9pt;
    }
}

/* block = 24 */
@media screen and (min-width: 968px) and (min-height: 626px) {
    #jumper-game {
        width: 768px;
        height: 576px;
        font-size: 11pt;
    }
}

/* block = 28 */
@media screen and (min-width: 1096px) and (min-height: 722px) {
    #jumper-game {
        width: 896px;
        height: 672px;
        font-size: 13pt;
    }
}

/* block = 32 */
@media screen and (min-width: 1224px) and (min-height: 818px) {
    #jumper-game {
        width: 1024px;
        height: 768px;
        font-size: 15pt;
    }
}


/*Leaderboard styles*/

#leaderboard-scores{
    padding:10px;
    display:none;

    position:fixed;
    top:10px;
    left:10px;
    width:200px;
    height:200px;
    overflow-y:auto;
    border:1px solid white;

    background-color: black;
    opacity: .8;
}

.focused{
    font-weight:bold;
    font-size:1.5em;
    color:green!important;
}
#leaderboard-scores h1{
    margin:0;
    font-size:3em;
    color: green;

}

#actual-scores{
    padding-left:10px;
}

#actual-scores li
{
    list-style:none;
    color:white;
    
}
/*Leaderboard styles*/